@font-face {
    font-family: 'air-america';
    src: url('./fonts/airamerica-regular-webfont.woff2') format('woff2'),
         url('./fonts/airamerica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 10%;
    background-color: black;
}

.h-logo {
    grid-column: 1 / 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-logo-img {
    fill: white;
    background: url('./images/logo.svg');
    width: 3rem;
    height: 3rem;
    margin: .3rem;
    border: 5px double white;
    border-radius: 15px;
}

.h-logo-txt {
    color: white;
    font-family: 'air-america';
    font-size: 2.7rem;
    margin-top: .35rem;
    margin-left: 1rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 85%;
    width: 100%;
}

.m-content-sidebar {
    grid-column: 1 / 2;
    background-color: lightgray;
}

.m-main-content {
    grid-column: 2 / 3;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: black;
}

.f-footer-txt {
    font-family: 'air-america';
    color: white;
    font-size: 1.1rem;
}

.f-link {
    font-family: 'air-america';
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

.f-link:hover {
    color: lightgray;
    font-size: 1rem;
}

.f-link:active {
    color: lightgray;
}