@font-face {
    font-family: 'air-america';
    src: url('./fonts/airamerica-regular-webfont.woff2') format('woff2'),
         url('./fonts/airamerica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 10%;
    background-color: black;
}

.h-logo {
    grid-column: 1 / 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-logo-img {
    fill: white;
    background: url('./images/logo.svg');
    width: 3rem;
    height: 3rem;
    margin: .3rem;
    border: 5px double white;
    border-radius: 15px;
}

.h-logo-txt {
    color: white;
    font-family: 'air-america';
    font-size: 2.7rem;
    margin-top: .35rem;
    margin-left: 1rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 85%;
    width: 100%;
}

.m-content-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / 2;
    background-color: lightgrey;
}

.m-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.m-project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    width: 60%;
    height: 60%;
    font-family: 'air-america';
    background-color: darkgray;
}

.m-project-title {
    font-size: 3rem;
    margin: 1rem;
}

.m-project-date {
    font-size: 2rem;
    margin: 1rem;
}

.m-project-priority {
    font-size: 2rem;
    margin: 1rem;
}

.m-project-description {
    font-size: 2rem;
    margin: 1rem;
}

.m-list-title {
    font-family: 'air-america';
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 0;
}

.m-project-ul {
    list-style-type: none;
    align-items: left;
    font-family: 'air-america';
    margin-right: 1.1rem;
}

.m-project-link {
    border: none;
    background: none;
    font-family: 'air-america';
    font-size: 1.5rem;
}

.m-project-link:hover {
    font-size: 1.5rem;
    color: white;
}

.m-project-link:active {
    font-size: 1.3rem;
    color: darkgray;
}

.m-li-delete-button {
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    background: lightgray;
    font-size: 1rem;
}

.m-li-delete-button:hover {
    background-color: white;
}

.m-li-delete-button:active {
    color: white;
    background: black;
}


.m-project-title-label {
    font-family: 'air-america';
    font-size: 1.2rem;
}

.m-project-title-input {
    width: 70%;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

.m-new-project-btn {
    width: 10rem;
    height: 2.4rem;
    border: 3px solid black;
    border-radius: 25px;
    background: none;
    font-family: 'air-america';
    font-size: 1.7rem;
    margin: 1rem 0 0 0;
}

.m-new-project-btn:hover {
    background-color: white;
    font-size: 1.6rem;
    width: 10rem;
    height: 2.4rem;
}

.m-new-project-btn:active {
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: black;
}

.f-footer-txt {
    font-family: 'air-america';
    color: white;
    font-size: 1.1rem;
}

.f-link {
    font-family: 'air-america';
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

.f-link:hover {
    color: lightgray;
    font-size: 1rem;
}

.f-link:active {
    color: lightgray;
}

.modal-new-project-form {
    margin-left: 25rem;
    border-radius: 15px;
    border: 2px solid black;
}

.modal-topbar-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: right;
}

.modal-form-exit-btn {
    grid-column: 2 / 3;
    font-size: .9rem;
    justify-self: right;
    align-self: start;
    background: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bolder;
}

.modal-form-exit-btn:hover {
    background: lightgray;
    color: black;
}

.modal-form-exit-btn:active {
    background: black;
    color: white;
}

.modal-form-title {
    grid-column: 1 / 2;
    font-family: 'air-america';
    font-size: 3rem;
    margin-bottom: 2rem;
    justify-self: center;
}

.modal-form-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    list-style-type: none;
    font-family: 'air-america';
}

.modal-li-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal-date-li {
    margin: 1rem;
}

.modal-priority-li {
    margin: 1rem;
}

.modal-description-li {
    margin: 1rem;
}

.modal-label {
    font-size: 1.4rem;
}

.modal-input {
    margin-left: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.modal-description-label {
    font-size: 1.4rem;
}

.modal-description-input {
    border-radius: 15px;
    border: 1px solid black;
    margin-left: 2rem;
    width: 70%;
}

.modal-submit-btn {
    border: 2px solid black;
    border-radius: 15px;
    background: none;
    font-family: 'air-america';
    font-size: 1.6rem;
}

.modal-submit-btn:hover {
    background-color: lightgray;
}

.modal-submit-btn:active {
    background-color: black;
    color: white;
}